# Dependency directory
node_modules

# Ignore built ts files
build
dist

# Coverage reports
coverage

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Configuration
.env

# Logs
logs
*.log
npm-debug.log*
